<div class="col-lg-3 d-none d-lg-block d-sm-none wow bounceInLeft">
    <div class="user-data full-width">
        <div class="categories-left-heading">
            <h3>Details</h3>
        </div>
        <div class="categories-items">
            <a class="tab-item-1  {% if menu_vertical is defined and menu_vertical == 'publication'  %} active {% endif %}" href="{{ path('activite_index') }}">Publication</a>
            <a class="tab-item-1  {% if menu_vertical is defined and menu_vertical == 'forum'  %} active {% endif %}" href="#">Discussions</a>
            <a class="tab-item-1  {% if menu_vertical is defined and menu_vertical == 'profile'  %} active {% endif %}" href="#">Profile</a>
            <a class="tab-item-1  {% if menu_vertical is defined and menu_vertical == 'parametre'  %} active {% endif %}" href="#">Paramètre</a>
            <a class="tab-item-1" href="#">Deconnexion</a>
        </div>
    </div>
</div>