<div class="col-lg-3 d-none d-lg-block d-sm-none wow bounceInLeft">
    <div class="user-data full-width">
        <div class="categories-left-heading">
            <h3>Details</h3>
        </div>
        <div class="categories-items">
            <a class="tab-item-1 active" href="{{ path('activite_index') }}">Publication</a>
            <a class="tab-item-1" href="#">Discussions</a>
            <a class="tab-item-1" href="#">Profile</a>
            <a class="tab-item-1" href="#">Paramètre</a>
            <a class="tab-item-1" href="#">Changer le mot de passe</a>
            <a class="tab-item-1" href="#">Deconnexion</a>
        </div>
    </div>
</div>