<div class="dash-todo-thumbnail-area1">
    <div class="todo-thumb1 dash-bg-image1 dash-bg-overlay wow bounceInUp" style="background-image:url(https://picsum.photos/id/1010/1920/500/);"></div>
    <div class="dash-todo-header1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="my-profile-dash">
                        <div class="my-dp-dash wow bounceInDown">
                            <img src="{{ asset('assets/images/avatar.png') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dash-dts">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="event-title">
                    <div class="my-dash-dt">
                        <h3>Delrodie AMOIKON</h3>
                        <!--<span>Membre depuis 03-2020</span>
                        <span><i class="fas fa-map-marker-alt"></i>Abidjan</span>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="right-details">
                    <li>
                        <div class="all-dis-evnt">
                            <div class="dscun-txt">Actions</div>
                            <div class="dscun-numbr">0</div>
                        </div>
                    </li>
                    <li>
                        <div class="all-dis-evnt">
                            <div class="dscun-txt">Discussions</div>
                            <div class="dscun-numbr">0</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>