@charset "UTF-8";

.media-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.media-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
    .media-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}

#maxSize{
    font-size: 0.9em;
    color: darkred;
}

@media (max-width: 425px) {
    .charge{
        margin-top: 25px;
    }

    video{
        max-width: none;
        max-height: 221px;
        text-align: center;
    }

    .blog-img img{
        max-width: none;
        max-height: 221px;
    }
}

@media (min-width: 426px) {
    .charge{
        margin-top: 25px;
    }

    .our-blogs{
        height: 448px;
    }

    video{
        max-width: none;
        max-height: 208px;
        text-align: center;
    }

    .blog-img img{
        max-width: none;
        max-height: 208px;
    }
}

