@charset "UTF-8";

.media-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.media-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px !important;
    direction: ltr;
    cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
    .media-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}

#maxSize{
    font-size: 0.9em;
    color: darkred;
}

.profile .row{
    margin-bottom: 5px;
    margin-top: 5px;
}

.profile img{
    max-width: 100px;
    height: 100px;
    border-radius: 100%;
}


.btn-participation {
    font-size: 14px;
    color: #fff;
    background: #FF6600;
    padding: 12px 20px;
    border-radius: 5px;
    text-align: center;
}

.btn-participation:hover {
    color: #fff !important;
    background: #257F08;

}

.participant h1{
    color: #257F08;
    font-weight: bold;
}

.bloc-statistiques{
    text-align: center;
}

.statistiques{
    text-align: center;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}

.statistiques.orange{
    background-color: #FF6600;
    color: white;
}

.statistiques.blanc{
    background-color: #fff;
    color: black;
}

.statistiques.vert{
    background-color: #257F08;
    color: white;
}

.projet-liste a{
    color: #696969;
}

.projet-show{
    color: #847577;
}
.projet-show:hover{
    color: #FF6600 !important;
}

.projet-liste a:hover{
    color: #FF6600 !important;
}

@media (max-width: 425px) {
    .charge{
        margin-top: 25px;
    }

    .blog-img video{
        max-width: none;
        max-height: 221px;
        text-align: center;
    }

    .blog-img img{
        max-width: none;
        max-height: 221px;
    }
    .slide{
        margin-top: 85px;
    }

    .statistiques{
        width: 100px;
        height: 100px;
    }
    .statistiques h3{
        padding-top: 30px;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .statistiques-libelle{
        font-size: 0.7em;
    }
    .bloc-statistiques{
        margin-bottom: 50px;
        text-align: center;
    }
    .projet{
        margin-top: 50px;
    }
}

@media (min-width: 426px) {
    .charge{
        margin-top: 25px;
    }

    .our-blogs{
        height: 448px;
    }

    .blog-img video{
        max-width: none;
        max-height: 208px;
        text-align: center;
    }

    .blog-img img{
        max-width: none;
        max-height: 208px;
    }

    .statistiques{
        width: 200px;
        height: 200px;
    }

    .statistiques h3{
        padding-top: 60px;
        font-weight: bold;
    }

    .bloc-statistiques{
        margin-top: 25px;
        margin-bottom: 100px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .slide{
        margin-top: 85px;
    }

    .projet{
        margin-top: 50px;
    }
}

