{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="jumbotron jumbotron-fluid text-left">
        <div class="container">
            <h1>Gestion des articles</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('homepage') }}">Accueil</a></li>
                        <li class="breadcrumb-item"><a href="{{ path('user_index') }}">Utilisateurs</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Enregistrement</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4">
                {{ include('user/_form.html.twig', {'button_label': 'form.btnUpdate'|trans}) }}
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                {{ include('user/_delete_form.html.twig') }}
            </div>
        </div>
    </div>


{% endblock %}
